{% extends 'base.html' %}
{% load static %}

{% block content %}

<style>
    .btn:hover {
        color: #fff !important;
    }
</style>
<!--=================== PAGE-TITLE ===================-->
<div class="page-title" style="background-image: url(../../static/img/package.jpg);">
    <div class="container">
        <h1 class="title-line-left">Packages</h1>
        <div class="breadcrumbs">
            <ul>
                <li><a href="{% url 'homeapp:homepage' %}">Home</a></li>
                <li>Packages</li>
            </ul>
        </div>
    </div>
</div>
<!--================= PAGE-TITLE END =================-->

<!--==================== S-GALLERY ====================--> 
<section class="s-gallery page-gallery"  >
    <div class="container" >
        <div class="tab-wrap">

            <ul class="tab-nav gallery-tabs">
                <li class="item" rel="tab1" data-rel="all">
                    <a href="{% url 'eventsapp:packages' %}">
                  All</a></li>
       
                {% for cat in categorys %}
                <li class="item" rel="tab2" data-rel="{{cat.name}}">
                    <a href="{% url 'eventsapp:packages' %}?category={{cat.name}}">
                   {{ cat.name }}</a>
                </li>

                {% endfor %}
          
            </ul>


	<!--================ S-OUR-COURSES END ================--> 


    	<!--================== EVENT BLOCK ==================-->
	<section class="s-event-block" style="background-image: url(../../static/img/package_background.jpg);"  >
		<div class="container">
			<div class="row">
                {% for pacakge in price_pacakges %}
				<div class="col-12 col-md-4 event-item-cover"> 
					<div class="event-block-item">
						<div class="pricing-header">
							<h4 class="pricing-header">{{pacakge.name}}</h4>
							<h4 class="title-line">Tk.{{pacakge.price}}</h4>
						</div>
					
						<p>{{pacakge.details|safe}}.</p>
<!-- 					
						<ul class="schedule-cover"> 
							<li class="schedule-title">{{pacakge.details|safe}}</li>
				
						</ul> -->

                    <div class="pacakge-btn">
                            <a href="{% url 'contactapp:contact' %}" class="btn">buy now</a>
                        </div> 
					</div>
                
				</div>
                {% endfor %}
		
			
			</div>
		</div>
	</section>
	<!--================ EVENT BLOCK END ================-->

{% comment %} </div>
</div> {% endcomment %}
</section> 



{% endblock %}