{% extends 'base.html' %}
{% load static %}

{% block content %}




<!--=================== PAGE-TITLE ===================-->
<div class="page-title" style="background-image: url(../../static/img/package.jpg);">
    <div class="container">
        <h1 class="title-line-left">Packages</h1>
        <div class="breadcrumbs">
            <ul>
                <li><a href="{% url 'homeapp:homepage' %}">Home</a></li>
                <li>Packages</li>
            </ul>
        </div>
    </div>
</div>
<!--================= PAGE-TITLE END =================-->

<!--==================== S-GALLERY ====================--> 
<section class="s-gallery page-gallery" style="background-image: url(../../static/img/package-background2.jpg);" >
    <div class="container">
        <div class="tab-wrap">





         <div class="container">
            <div class="tab-wrap">
            <ul class="tab-nav gallery-tabs">
                <li class="item" rel="tab1"><a href="{% url 'eventsapp:packages' %}">
                    <button>All</button></a></li>
       
                {% for cat in categorys %}
                <li class="item" rel="tab2">
                    <a href="{% url 'eventsapp:packages' %}?category={{cat.name}}">
                      <button>{{ cat.name }}</button>  </a>
                </li>

                {% endfor %}
                <!-- <li class="item" rel="tab3">Type 2</li> -->
            </ul>



	<!--================ S-OUR-COURSES END ================--> 


    	<!--================== EVENT BLOCK ==================-->
	<section class="s-event-block"  >
		<div class="container-fluid">
			<div class="row">
                {% for pacakge in price_pacakges %}
				<div class="col-12 col-md-4 event-item-cover">
					<div class="event-block-item">
						<div class="pricing-header">
							<h4 class="pricing-header">{{pacakge.name}}</h4>
							<h4 class="title-line">Tk.{{pacakge.price}}</h4>
						</div>
					
						<p>{{pacakge.details|safe}}.</p>
<!-- 					
						<ul class="schedule-cover"> 

							<li class="schedule-title">{{pacakge.details|safe}}</li>
				
						</ul> -->

                        <div class="pacakge-btn">
                            <a href="{% url 'contactapp:contact' %}" class="btn">buy now</a>
                        </div>
					</div>
                
				</div>
                {% endfor %}
		
			
			</div>
		</div>
	</section>
	<!--================ EVENT BLOCK END ================-->

</div>
</div>
</section> 



	
	<!--===================== S-PRICING =====================-->
<!-- <section class="s-pricing">
    <span class="title-position title-position-right">pricing</span>
    <div class="container">
        <h2 class="title-line">Pricing Plans</h2>
        <p class="slogan">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
        <div class="pricing-cover">


			<div class="row">
                {% for pacakge in price_pacakges %}
				<div class="col-12 col-md-4 event-item-cover">
	
            <div class="pricing-item">
                <h4 class="pricing-header">{{pacakge.name}}</h4>
                <div class="pricing-item-content">
                    <div class="price pricing-slogan title-line">Tk.{{pacakge.price}}</div>
               
                    <div class="pricing-info">
                        <ul class="">
                            <li>{{pacakge.details}}/li>
            
                        </ul>
                    </div>
                    <div class="pricing-slogan title-line">{{pacakge.condition}}</div>
                    <a href="{% url 'contactapp:contact' %}" class="btn btn-yellow">Book Now</a>
                </div>
            </div>
		</div>
            {% endfor %}
		</div>

        </div>
    </div>
</section> -->
<!--================== S-PRICING END ==================-->



{% include 'global/footer.html' %}


{% endblock %}