{% extends 'base.html' %}
{% load static %}

{% block content %}


<!--=================== PAGE-TITLE ===================-->
<div class="page-title" style="background-image: url(../../static/img/gallery.jpg);">
    <div class="container">
        <h1 class="title-line-left">Gallery</h1>
        <div class="breadcrumbs">
            <ul>
                <li><a href="{% url 'homeapp:homepage' %}">Home</a></li>
                <li>Gallery</li>
            </ul>
        </div>
    </div>
</div>
<!--================= PAGE-TITLE END =================-->

<!--==================== S-GALLERY ====================-->
<section class="s-gallery page-gallery">
    <div class="container"> 
        <div class="tab-wrap">


            <ul class="tab-nav gallery-tabs">
                <li class="item active" rel="tab1" data-rel="all">
                    <a href="{% url 'homeapp:gallerypage' %}">All</a>
                </li>
                {% for cat in categories %}
                <li class="item" rel="tab1" data-rel="{{cat.name}}">
                    <a href="{% url 'homeapp:gallerypage' %}?category={{cat.name}}">
                        {{ cat.name }}
                    </a>
                </li>  
                {% endfor %} 
                <!-- <li class="item" rel="tab3">Type 2</li> -->
            </ul>

       

            <div class="tabs-content">

                <div class="tab tab1">
                    <div class="row-gallery"> 
                        <div class="gallery-cover">

                            <!-- loading="lazy" -->
                   
                            {% for gallery in  gallerys %}

                            <div class="gallery-item">
                                <a href="{{gallery.image.url}}" data-fancybox="gallery1">
                                    <div class="gal-open"><span>+</span></div>
                                    <img src="{{gallery.image.url}}" alt="img" >
                                    <div class="gal-item">
                                        <h4 class="title">{{gallery.title}}</h4>
                                        <p>{{gallery.text}}.</p>
                                    </div>
                                </a>
                            </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>


<!--================== S-GALLERY END ==================-->
<section class="s-gallery page-gallery">
    <div class="container"> 

         <!--Pagination-->
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
        {% if  gallerys.has_previous %}
            <li class="page-item">
            <a class="page-link" href="?page={{  gallerys.previous_page_number }}">Previous</a>
          </li>
        {% else %}
            <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Previous</a>
          </li>
        {% endif %}

        {% if  gallerys.number|add:'-4' > 1 %}
            <li class="page-item"><a class="page-link" href="?page={{  gallerys.number|add:'-5' }}">&hellip;</a></li>
        {% endif %}

        {% for i in  gallerys.paginator.page_range %}
            {% if  gallerys.number == i %}
                <li class="page-item active" aria-current="page">
              <span class="page-link">
                {{ i }}
                <span class="sr-only">(current)</span>
              </span>
            </li>
            {% elif i >  gallerys.number|add:'-5' and i <  gallerys.number|add:'5' %}
                 <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}

        {% if  gallerys.paginator.num_pages >  gallerys.number|add:'4' %}
           <li class="page-item"><a class="page-link" href="?page={{  gallerys.number|add:'5' }}">&hellip;</a></li>
        {% endif %}

        {% if  gallerys.has_next %}
            <li class="page-item">
            <a class="page-link" href="?page={{  gallerys.next_page_number }}">Next</a>
          </li>
        {% else %}
            <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Next</a>
          </li>
        {% endif %}
      </ul>
    </nav>
    <!--end of Pagination-->


    </div>
</section>

{% endblock %}

