{% extends 'base.html' %}
{% load static %}

{% block content %}


<!--=================== PAGE-TITLE ===================-->
<div class="page-title" style="background-image: url(../../static/img/gallery.jpg);">
    <div class="container">
        <h1 class="title-line-left">Gallery</h1>
        <div class="breadcrumbs">
            <ul>
                <li><a href="{% url 'homeapp:homepage' %}">Home</a></li>
                <li>Gallery</li>
            </ul>
        </div>
    </div>
</div>
<!--================= PAGE-TITLE END =================-->

<!--==================== S-GALLERY ====================-->
<section class="s-gallery page-gallery">
    <div class="container"> 
        <div class="tab-wrap">


            <ul class="tab-nav gallery-tabs">
                <li class="item active"  rel="tab1">
                    <a href="{% url 'homeapp:gallerypage' %}">All</a>
                </li>
                {% for cat in categories %}
                <li class="item" rel="tab2">
                    <a href="{% url 'homeapp:gallerypage' %}?category={{cat.name}}">
                        {{ cat.name }}</a>
                </li> 
                {% endfor %} 
                <!-- <li class="item" rel="tab3">Type 2</li> -->
            </ul>

       

            <div class="tabs-content">

                <div class="tab tab1">
                    <div class="row-gallery"> 
                        <div class="gallery-cover">

                            <!-- loading="lazy" -->
                   
                            {% for gallery in  gallerys %}

                            <div class="gallery-item">
                                <a href="{{gallery.image.url}}" data-fancybox="gallery1">
                                    <div class="gal-open"><span>+</span></div>
                                    <img src="{{gallery.image.url}}" alt="img" >
                                    <div class="gal-item">
                                        <h4 class="title">{{gallery.title}}</h4>
                                        <p>{{gallery.text}}.</p>
                                    </div>
                                </a>
                            </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>



<script>
    $('.tabsBtn').on('click', '.btn', function(){
        $('.tabsBtn .btn').removeClass('item');
        $(this).addClass('item');
    });

</script>


{% comment %} <div class="infinite-container">
    {% for number in gallerys %}
      <div class="infinite-item">{{ number }}</div>
    {% endfor %}
  </div>

  {% if gallerys.has_next %}
    <a class="infinite-more-link" href="?page={{ gallerys.next_page_number }}">More</a>
  {% endif %}

  <div class="loading" style="display: none;">
    Loading...
  </div>

  <script>
    var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0],
      onBeforePageLoad: function () {
        $('.loading').show();
      },
      onAfterPageLoad: function ($items) {
        $('.loading').hide();
      }
    });
  </script> {% endcomment %}

<!--================== S-GALLERY END ==================-->


{% endblock %}