$primary__color: #151515;
$secondary__color: #5a5a5a;
$accent__color: #2ccfbb;
$link__color: #225374;
$border__radius: 5px;

/* home 2 */
$primary__color_home_two: #23033c;
$secondary__color_home_two: #828282;
$accent_color_home_two: #2ccfbb;

$font__family: 'Poppins', sans-serif;